* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-orange: #ff7c1e;
    --color-white-primary: white;
    --color-white-secondary: whitesmoke;
    --color-black-primary: black;
    --color-gray: gray;
}

.page-max-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
    border: none;
}

.searchbar {
    border: 1px solid var(--color-black-primary);
    padding: 0.3rem 1rem;
    border-radius: 6px;
}

button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    width: max-content;
    cursor: pointer;
}

button.button-primary {
    background: var(--color-black-primary);
    color: var(--color-white-primary);
}

select {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background-color: var(--color-white-secondary);
}

select option {
    padding: 0.5rem 1rem;
    border-radius: 0;
    background-color: white;
}

button.button-secondary {
    background: var(--color-white-secondary);
}

.logo {
    font-weight: 600;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar nav a {
    color: var(--color-gray);
    transition: all 0.3s ease-in;
}

.navbar nav a:hover {
    color: var(--color-black-primary);
}

.navbar nav .cart {
    font-size: 1.5rem;
}

#hero {
    border-radius: 6px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

#hero h1 {
    font-size: 2.5rem;
}

#hero .hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#hero .hero-content button {
    margin-top: 2rem;
}

#hero .hero-content .price p:nth-child(2) {
    color: var(--color-orange);
    font-size: 1.8rem;
}

#hero .hero-left {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-white-primary);
}

#hero img {
    border-radius: 12px;
    width: 50%;

}

#products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 5rem;
}

#products .product-nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#products .list-product {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

#products .product-item {
    background-color: var(--color-white-secondary);
    border-radius: 12px;
    overflow: hidden;
}

.product-item figure {
    background-color: var(--color-white-secondary);
    height: 250px;
    position: relative;
    overflow: hidden;
}

.product-item figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center;
    aspect-ratio: 1/1;
}

.product-item figure .like {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 9999px;
    background-color: var(--color-white-secondary);
}

.product-item .details {
    padding: 1rem;
}

.product-item .details div .price {
    color: var(--color-orange);
}

.product-item .details > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

footer .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#footer {
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;
}

footer div .contact div a i {
    font-size: 1.5rem;
    background-color: var(--color-white-secondary);
    padding: 0.5rem;
    border-radius: 6px;
}

footer div > p {
    color: var(--color-gray);
}

footer div .contact div {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.footer-nav a {
    color: var(--color-gray);
    transition: all 0.3s ease-in;
}

.footer-nav a:hover {
    color: var(--color-black-primary);  
}

@media screen and (max-width: 1000px) {
    .navbar nav > a {
        display: none;
    }

    #hero {
        flex-direction: column;
        gap: 2rem;
        height: auto;
    }

    #hero .hero-content {
        align-items: center;
        text-align: center;
    }


    #hero .hero-left {
        
    }

    #hero img {
        width: 100%;
    }

    #products .list-product {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 678px) {
    .navbar nav .searchbar {
        display: none;
    }

    .navbar #logo {
        font-size: 1.5rem;
    }

    #hero h1 {
        font-size: 2rem;
    }

    #products .list-product {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    footer {
        flex-direction: column;
    }

    footer .footer-nav  {
        margin-top: 2rem;
    }
}